li{
    display: inline;
}
#list{
    text-align: end;
}
header{
  background-image: url(Assets/image-header.png);  
}
body{
     font-family: "DM Sans", sans-serif;
     color: white;
}
.main{
    background-color: black;
}
.sponsors{
    background-image: url(Assets/banniere-logo.png);
}
.dates{
    background-color: black;
    display: inline;
}
.contact{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
}
.copyright{
    color: black;
    background-color: white;
}